/* =============================================================================
  SITE WIDE STYLES
============================================================================= */

* {
  margin: 0;
}
html, body {
  min-height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}
.site-footer {
  background: rgb(236, 240, 241);
  height: 35px;
}

#togglePanel {
  position: absolute;
  right: 1.5%;
  top: 5px;
  display: block;
}

#panel {
  background: #bdc3c7;
  padding: 10px;
  .menu {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 300;
  }
  ul {
    list-style: none;
    padding-left: 20px;
    li a {
      color: #fff;
      font-size: 1.5em;
      font-weight: 100;
      margin-bottom: 10px;
      &:hover {
        color: #3498db;
        text-decoration: none;
      }
    }
  }
}

.alert {
  border-radius: 0;
  text-align: center;
  color: #fff;
    &.alert-notice {
      background: #e67e22;
    }
}

.scotch-panel-canvas {
  background-image: url(https://s3.amazonaws.com/techthreads/pages/techthreads-noblur.jpg);
  background-size: 100%;
  background-position: 37% 59%;
  background-repeat: no-repeat;
}


/* =============================================================================
  SPLASH PAGE
============================================================================= */

#splash-content {
  margin-top: 20%;
  text-align: center;
  .lg-title {
    font-weight: 500;
    color: #fff;
  }
  .mantra {
    font-weight: 100;
    text-align: justify;
    color: #fff;
  }
  .signup {
    width: 30%;
    height: 50px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 100;
    border: none;
    background: rgba(236, 240, 241, .75);
    border-radius: 2px;
  }
}

/* =============================================================================
  MENU TOGGLE SWITCHES
============================================================================= */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `cmn-toggle-switch` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 5px;
  background-color: rgba(236, 240, 241,1.0);
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after,
 {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(236, 240, 241,1.0);
  content: "";
}

.cmn-toggle-switch span::before {
  top: -15px;
}

.cmn-toggle-switch span::after {
  bottom: -15px;
}

/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}
